* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

header {
  margin-bottom: 270px;
}

nav {
  width: 100%;
  height: fit-content;
  background-color: #1d1c1c;
}

nav ul {
  display: flex;
  justify-content: right;
}

nav ul li {
  justify-content: right;
  list-style-type: none;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 20px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background: #1d1c1c;
  font-size: 10px;
  padding: 2px 14px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 85px;
}

nav ul li ul li a {
  padding: 5px 7px;
  font-size: 11px;
  border-radius: 4px;
}

nav ul li ul li a:hover {
  background-color: #a09a9a;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  margin-left: 25px;
  margin-top: 55px;
}

a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url(images/pexels-derice-jason-fahnkow-745824-1595232.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.header-p {
  margin-left: 28px;
  font-size: 35px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.trailer-button {
  background: rgb(185, 180, 180);
  color: #fff;
  padding: 15px 35px;
  margin: 15px 25px;
  border-radius: 30px;
  border: none;
  transition: transform 0.3s ease;
}

.trailer-button:hover {
  background: rgb(143, 140, 140);
  transform: scale(1.2);
  text-decoration: underline;
}

.web-series-button {
  background: rgb(185, 180, 180);
  color: #fff;
  padding: 15px 35px;
  margin: 15px 25px;
  border-radius: 30px;
  border: none;
  transition: transform 0.3s ease;
}

.web-series-button:hover {
  background: rgb(143, 140, 140);
  transform: scale(1.2);
  text-decoration: underline;
}

.header-buttons {
  display: flex;
  justify-content: right;
  margin-top: 45px;
}

main {
  border-bottom: 1px solid #ddd;
  margin: 75px;
}
